### Imports & Declarations

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import datetime as dt
import numpy as np

In [2]:
states = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA',
          'HI','ID','IL','IN','IA','KS','KY','LA','ME','MD',
          'MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ',
          'NM','NY','NC','ND','OH','OK','OR','PA','RI','SC',
          'SD','TN','TX','UT','VT','VA','WA','WV','WI','WY',
          'PR','MP','VI','GU']
url = 'https://www.cbp.gov/contact/ports/'
ports = {'Port Code':[],'Street Address':[],'City':[],'State':[],'Postal Code':[],'Field':[]}

# Automated Web Scraping for U.S. Soil CBP Ports

In [3]:
print('<-- Starting web scrape of ports -->\n')
for state in states:
    # Requesting html for state
    response = requests.get('https://www.cbp.gov/contact/ports/' + state)
    print('-'*20)
    print(f'{state} - {response}')
    print('-'*20)

    # Create soup object for html
    soup = bs(response.text, 'html.parser')

    # Find just the table with the ports
    results = soup.find_all('tr', scope='row')

    # Put ports information into dictionary for later creation of DataFrame
    for result in results:
        try:
            ports['Port Code'].append(result.a.text)
            ports['Street Address'].append(result.div.div.text)
            ports['City'].append(result.span.text)
            ports['State'].append(result.find('span', class_='state').text)
            ports['Postal Code'].append(result.find('span', class_='postal-code').text)
            try:
                ports['Field'].append(result.find_all('a')[1].text)
            except:
                ports['Field'].append(np.NaN)
        except Exception as e:
            print('Error:', e, state)
            
print('\nFinished.')

<-- Starting web scrape of ports -->

--------------------
AL - <Response [200]>
--------------------
--------------------
AK - <Response [200]>
--------------------
--------------------
AZ - <Response [200]>
--------------------
--------------------
AR - <Response [200]>
--------------------
--------------------
CA - <Response [200]>
--------------------
--------------------
CO - <Response [200]>
--------------------
--------------------
CT - <Response [200]>
--------------------
--------------------
DE - <Response [200]>
--------------------
--------------------
FL - <Response [200]>
--------------------
--------------------
GA - <Response [200]>
--------------------
--------------------
HI - <Response [200]>
--------------------
--------------------
ID - <Response [200]>
--------------------
--------------------
IL - <Response [200]>
--------------------
--------------------
IN - <Response [200]>
--------------------
--------------------
IA - <Response [200]>
--------------------
--------------------
KS - <Response [200]>
--------------------
--------------------
KY - <Response [200]>
--------------------
--------------------
LA - <Response [200]>
--------------------
--------------------
ME - <Response [200]>
--------------------
--------------------
MD - <Response [200]>
--------------------
--------------------
MA - <Response [200]>
--------------------
--------------------
MI - <Response [200]>
--------------------
--------------------
MN - <Response [200]>
--------------------
--------------------
MS - <Response [200]>
--------------------
--------------------
MO - <Response [200]>
--------------------
--------------------
MT - <Response [200]>
--------------------
--------------------
NE - <Response [200]>
--------------------
--------------------
NV - <Response [200]>
--------------------
--------------------
NH - <Response [200]>
--------------------
--------------------
NJ - <Response [200]>
--------------------
--------------------
NM - <Response [200]>
--------------------
--------------------
NY - <Response [200]>
--------------------
--------------------
NC - <Response [200]>
--------------------
--------------------
ND - <Response [200]>
--------------------
--------------------
OH - <Response [200]>
--------------------
--------------------
OK - <Response [200]>
--------------------
--------------------
OR - <Response [200]>
--------------------
--------------------
PA - <Response [200]>
--------------------
--------------------
RI - <Response [200]>
--------------------
--------------------
SC - <Response [200]>
--------------------
--------------------
SD - <Response [200]>
--------------------
--------------------
TN - <Response [200]>
--------------------
--------------------
TX - <Response [200]>
--------------------
--------------------
UT - <Response [200]>
--------------------
--------------------
VT - <Response [200]>
--------------------
--------------------
VA - <Response [200]>
--------------------
--------------------
WA - <Response [200]>
--------------------
--------------------
WV - <Response [200]>
--------------------
--------------------
WI - <Response [200]>
--------------------
--------------------
WY - <Response [200]>
--------------------
--------------------
PR - <Response [200]>
--------------------
--------------------
MP - <Response [200]>
--------------------
--------------------
VI - <Response [200]>
--------------------
--------------------
GU - <Response [200]>
--------------------

Finished.

In [5]:
# Create dataframe out of ports dictionary
ports_df = pd.DataFrame(ports)
ports_df

,Port Code,Street Address,City,State,Postal Code,Field
0,"Birmingham, Alabama - 1904",Concourse A/FIS,Birmingham,AL,35212,New Orleans
1,"Huntsville, Alabama - 1910",2850 Wall-Triana Highway,Huntsville,AL,35824,New Orleans
2,"Mobile (Including Theodore), Alabama - 1901",150 N. Royal Street,Mobile,AL,36602,New Orleans
3,"Alcan, Alaska - 3104",Milepost 1221.8 Alaska Hwy,Alcan,AK,99780,Portland
4,"Anchorage, Alaska - 3126",605 W. 4th Ave.,Anchorage,AK,99501,Portland
5,"Dalton Cache, Alaska - 3106","Mile 40, Haines Hwy.",Dalton Cache,AK,99827,Portland
6,"Fairbanks, Alaska - 3111",6450 Airport Way,Fairbanks,AK,99709,NaN
7,"Juneau, Alaska - 3101",1875 Shell Simmons Dr. Suite 116,Juneau,AK,99801,Portland
8,"Ketchikan, Alaska - 3102",648 Mission St.,Ketchikan,AK,99901,Portland
9,"Kodiak, Alaska - 3127",c/o 605 W. 4th Ave.,Anchorage,AK,99501,Portland
10,"Nome, Alaska - 3128",113 W. Front Street,Nome,AK,99762,Portland
11,"Sitka, Alaska - 3115",329 Harbor Dr.,Sitka,AK,99835,Portland
12,"Skagway, Alaska - 3103","Milepost 6.8, Klondike Hwy.",Skagway,AK,99840,Portland
13,"Valdez, Alaska - 3107","c/o 605 West 4th Avenue, Suite 230",Anchorage,AK,99501,Portland
14,"Wrangell, Alaska - 3105",431 Zimovia Highway,Wrangell,AK,99929,Portland
15,"Douglas, Arizona - 2601",First Street and Pan American Avenue,Douglas,AZ,85607,Tucson
16,"Lukeville, Arizona - 2602",Highway 85 & Border,Lukeville,AZ,85341,Tucson
17,"Naco, Arizona - 2603",3867 S. Towner Avenue,Naco,AZ,85620,Tucson
18,"Nogales, Arizona - 2604",9 North Grand Ave.,Nogales,AZ,85621,Tucson
19,"Phoenix, Arizona - 2605","3002 E. Old Tower Road, Suite 400",Phoenix,AZ,85034,Tucson
20,"Phoenix-Mesa Gateway Airport, Arizona - 2682",5803 S. Sossaman Rd.,Mesa,AZ,85212,Tucson
21,"San Luis, Arizona - 2608",Highway 95 & International Border,San Luis,AZ,85349,Tucson
22,"Sasabe, Arizona - 2606",Highway 286 and International Border,Sasabe,AZ,85633,Tucson
23,"Scottsdale Airport, Arizona - 2681",15000 N. Airport Drive,"Scottsdale,",AZ,85260,Tucson
24,"Tucson, Arizona - 2609",7150 S. Tucson Boulevard,Tucson,AZ,85706,Tucson
25,"Little Rock-North Little Rock, Arkansas - 2003",1000 Temple Street,Little Rock,AR,72202,New Orleans
26,"Rogers Airport, Arkansas - 2084",#5 Hammerschmidt Drive,Rogers,AR,72756,New Orleans
27,"Andrade - Class A, California - 2502",235 Andrade Road,Winterhaven,CA,92283,San Diego
28,"Calexico East - Class A, California - 2507","1699 East Carr, Rd",Calexico,CA,92231,San Diego
29,"Calexico West - Class A, California - 2503",200 East First Street,Calexico,CA,92231,San Diego
...,...,...,...,...,...,...
304,"Front Royal, Virginia - 1410",No CBP personnel on site.,Front Royal,VA,22630,Atlanta
305,"New River Valley Airport, Virginia - 1412",No personnel on site.,Dublin,VA,24084,Atlanta
306,"Norfolk-Newport News, Virginia - 1401",101 E. Main Street,Norfolk,VA,23510,Atlanta
307,"Port of Washington-Dulles, Virginia - 5401",22685 Holiday Park Drive,Sterling,VA,20598,Baltimore
308,"Richmond - Petersburg, Virginia - 1404","5707 Huntsman Road, Suite 104",Richmond,VA,23250,Atlanta
309,"Blaine, Washington - 3004",9901 Pacific Highway,Blaine,WA,98230,Seattle
310,"Longview, Washington - 2905",1450 Terminal Way,Longview,WA,98632,Portland
311,"Oroville, WA, Washington - 3019",33643 Hwy 97,Oroville,WA,98844,Seattle
312,"Seattle, Washington - 3001",17801 Pacific Highway S,Seattle,WA,98158-1249,Seattle
313,"Sumas, Washington - 3009",103 Cherry Street,Sumas,WA,98295,NaN
314,"Tacoma, Washington, Washington - 3002",2202 Port of Tacoma Road,Tacoma,WA,98421,Seattle
315,"Charleston, West Virginia - 1409",Yeager Airport,Charleston,WV,25311,Atlanta
316,"Appleton International Airport, Wisconsin - 3781",W6400 Challenger Dr. Ste. 100,Appleton,WI,54914,Chicago
317,"Green Bay, Wisconsin - 3703",2077 Airport Drive,Green Bay,WI,54313,Chicago
318,"Milwaukee, Wisconsin - 3701",4915 S. Howell Avenue,Milwaukee,WI,53207,Chicago
319,"Racine, Wisconsin - 3708",3239 North Green Bay Road,Racine,WI,53404,Chicago
320,"Natrona County Airport, Wyoming - 3332","8500 Airport Pkwy, Suite 217.",Casper,WY,82604,Portland
321,"Aguadilla, Puerto Rico - 4901",Rafael Hernandez Airport,Aguadilla,PR,00604,San Juan
322,"Fajardo, Puerto Rico - 4904",U.S. Customhouse,Puerto Real,PR,00740,San Juan
323,"Luis Munoz Marin International Airport, Puerto...",Ave. Baldorioty de Castro,Isla Verde,PR,00937,San Juan
324,"Mayaguez, Puerto Rico - 4907",31 Gonzalez Clemente Ave.,Mayaguez,PR,00680,San Juan
325,"Ponce, Puerto Rico - 4908",63 Calle Bonaire,Ponce,PR,00716,San Juan
326,"San Juan, PR (Area Port), Puerto Rico - 4909",City View Plaza-Suite 3000,Guaynabo,PR,00968-8000,San Juan
327,"Rota, Northern Mariana Islands - 3213",Rota International Airport,Rota,MP,96951,San Francisco
328,"Saipan, Northern Mariana Islands - 3211",Saipan International Airport,Saipan,MP,96950,San Francisco
329,"Tinian, Northern Mariana Islands - 3212",Tinian International Airport,Tinian,MP,96950,San Francisco
330,"Charlotte Amalie (Area Port of St. Thomas), Vi...",5500 Veterans Drive,St. Thomas,VI,00801,San Juan
331,"Cruz Bay (St. John), Virgin Islands - 5102",Cruz Bay Creek Bulkhead,St. John,VI,00830,San Juan
332,"Saint Croix, Virgin Islands - 5104",RR #2-9922,Kingshill,VI,00850,San Juan
333,"Hagatna, Guam, Guam - 3207",A.B. Won Pat Guam International Airport,Tamuning,GU,96913,San Francisco

In [7]:
# Extract port code and set index
ports_df['Port Code'] = ports_df['Port Code'].str[-4:]
ports_df = ports_df.set_index('Port Code')
ports_df.head()

,Street Address,City,State,Postal Code,Field
Port Code,,,,,
1904,Concourse A/FIS,Birmingham,AL,35212,New Orleans
1910,2850 Wall-Triana Highway,Huntsville,AL,35824,New Orleans
1901,150 N. Royal Street,Mobile,AL,36602,New Orleans
3104,Milepost 1221.8 Alaska Hwy,Alcan,AK,99780,Portland
3126,605 W. 4th Ave.,Anchorage,AK,99501,Portland

In [8]:
# Save dataframe as csv
ports_df.to_csv('Resources/US_CBP_Ports_Data.csv')

# Import CSVs

### Paths

In [10]:
border_crossing_path = 'Resources/Border_Crossing_Entry_Data.csv'
acs_10_path = 'Resources/ACS_10_5YR_DP05_with_ann.csv'
acs_11_path = 'Resources/ACS_11_5YR_DP05_with_ann.csv'
acs_12_path = 'Resources/ACS_12_5YR_DP05_with_ann.csv'
acs_13_path = 'Resources/ACS_13_5YR_DP05_with_ann.csv'
acs_14_path = 'Resources/ACS_14_5YR_DP05_with_ann.csv'
acs_15_path = 'Resources/ACS_15_5YR_DP05_with_ann.csv'
acs_16_path = 'Resources/ACS_16_5YR_DP05_with_ann.csv'
acs_17_path = 'Resources/ACS_17_5YR_DP05_with_ann.csv'

## Cleaning Border Crossing Dataframe

In [68]:
# Create Dataframe from Border Crossing data.
border_crossing_df = pd.read_csv(border_crossing_path)
border_crossing_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [69]:
# Check types
border_crossing_df.dtypes

Port Name    object
State        object
Port Code     int64
Border       object
Date         object
Measure      object
Value         int64
Location     object
dtype: object

In [70]:
# Remove the time from Date. It is unnecessary.
border_crossing_df.Date = pd.to_datetime(border_crossing_df.Date).dt.normalize()
border_crossing_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,2019-03-01,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,2019-03-01,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,2019-03-01,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,2019-03-01,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,2019-03-01,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [71]:
# Clean Location column and split into two columns: latitude, longitude

# Remove 'POINT (' and ')'
border_crossing_df.Location = border_crossing_df.Location.map(lambda x: x.lstrip('POINT (').rstrip(')'))

# Split lat and lng
lat = []
lng = []
for row in border_crossing_df.Location:
    try:
        lat.append(row.split(' ')[0])
        lng.append(row.split(' ')[1])
    except:
        lat.append(np.NaN)
        lng.append(np.NaN)
        
# Create new column for lat and lng, then drop Location column.
border_crossing_df['Latitude'] = lat
border_crossing_df['Longitude'] = lng
border_crossing_df = border_crossing_df.drop(columns='Location')

border_crossing_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude
0,Calexico East,California,2507,US-Mexico Border,2019-03-01,Trucks,34447,-115.48433000000001,32.67524
1,Van Buren,Maine,108,US-Canada Border,2019-03-01,Rail Containers Full,428,-67.94271,47.16207
2,Otay Mesa,California,2506,US-Mexico Border,2019-03-01,Trucks,81217,-117.05333,32.57333
3,Nogales,Arizona,2604,US-Mexico Border,2019-03-01,Trains,62,-110.93361,31.340279999999996
4,Trout River,New York,715,US-Canada Border,2019-03-01,Personal Vehicle Passengers,16377,-73.44253,44.990010000000005

In [72]:
# Save dataframe to csv
border_crossing_df.to_csv('Resources/Border_Crossing_Entry_Data_Clean.csv')

## Cleaning Demographics Data

In [25]:
column_imports = [2,111] + [i for i in range(127,281) if i % 2 != 0]
column_imports_2017 = [2,131] + [i for i in range(147,301) if i % 2 != 0]

In [26]:
# 2010
acs_10_df = pd.read_csv(acs_10_path, usecols=column_imports)
acs_10_df = acs_10_df.drop([0],axis=0)
acs_10_df = acs_10_df.rename(columns={'GEO.display-label':'State'})
acs_10_df.insert(1, 'Year', '2010')
acs_10_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2010,4712651,3293917,69.9,1232325,26.1,25814,0.5,9702,...,4712651,162371,3.4,111664,2.4,11011,0.2,4017,0.1,35679
2,Alaska,2010,691189,464150,67.2,22655,3.3,98120,14.2,788,...,691189,38393,5.6,22059,3.2,4380,0.6,780,0.1,11174
3,Arizona,2010,6246816,4883606,78.2,240655,3.9,278336,4.5,4042,...,6246816,1814674,29.0,1631468,26.1,30532,0.5,8944,0.1,143730
4,Arkansas,2010,2872684,2253875,78.5,445197,15.5,19192,0.7,8826,...,2872684,168427,5.9,128480,4.5,4740,0.2,754,0.0,34453
5,California,2010,36637290,22392713,61.1,2246311,6.1,283628,0.8,23855,...,36637290,13456157,36.7,11231410,30.7,172746,0.5,82788,0.2,1969213

In [27]:
# 2011
acs_11_df = pd.read_csv(acs_11_path, usecols=column_imports)
acs_11_df = acs_11_df.drop([0],axis=0)
acs_11_df = acs_11_df.rename(columns={'GEO.display-label':'State'})
acs_11_df.insert(1, 'Year', '2011')
acs_11_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2011,4747424,3307557,69.7,1244112,26.2,26399,0.6,9792,...,4747424,173990,3.7,121153,2.6,11770,0.2,3475,0.1,37592
2,Alaska,2011,700703,472504,67.4,23426,3.3,97628,13.9,794,...,700703,39212,5.6,22373,3.2,4973,0.7,875,0.1,10991
3,Arizona,2011,6337373,4987541,78.7,252127,4.0,280986,4.4,3616,...,6337373,1864375,29.4,1683280,26.6,30965,0.5,9112,0.1,141018
4,Arkansas,2011,2895928,2271277,78.4,449283,15.5,17239,0.6,7242,...,2895928,177869,6.1,137142,4.7,5446,0.2,921,0.0,34360
5,California,2011,36969200,22860341,61.8,2252129,6.1,287712,0.8,23618,...,36969200,13752743,37.2,11493037,31.1,183059,0.5,83192,0.2,1993455

In [28]:
# 2012
acs_12_df = pd.read_csv(acs_12_path, usecols=column_imports)
acs_12_df = acs_12_df.drop([0],axis=0)
acs_12_df = acs_12_df.rename(columns={'GEO.display-label':'State'})
acs_12_df.insert(1, 'Year', '2012')
acs_12_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2012,4777326,3321318,69.5,1256097,26.3,26166,0.5,9604,...,4777326,182268,3.8,127306,2.7,12386,0.3,3657,0.1,38919
2,Alaska,2012,711139,477985,67.2,24219,3.4,98976,13.9,980,...,711139,40371,5.7,22618,3.2,4920,0.7,1087,0.2,11746
3,Arizona,2012,6410979,5085954,79.3,262284,4.1,283805,4.4,3151,...,6410979,1902946,29.7,1724678,26.9,32463,0.5,9485,0.1,136320
4,Arkansas,2012,2916372,2285577,78.4,453062,15.5,17390,0.6,7306,...,2916372,185239,6.4,144586,5.0,5241,0.2,860,0.0,34552
5,California,2012,37325068,23252553,62.3,2254160,6.0,291505,0.8,23701,...,37325068,14024109,37.6,11727067,31.4,189764,0.5,85124,0.2,2022154

In [29]:
# 2013
acs_13_df = pd.read_csv(acs_13_path, usecols=column_imports)
acs_13_df = acs_13_df.drop([0],axis=0)
acs_13_df = acs_13_df.rename(columns={'GEO.display-label':'State'})
acs_13_df.insert(1, 'Year', '2013')
acs_13_df.columns = acs_10_df.columns
acs_13_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2013,4799277,3326188,69.3,1262152,26.3,25278,0.5,9180,...,4799277,188294,3.9,129237,2.7,14190,0.3,3907,0.1,40960
2,Alaska,2013,720316,481638,66.9,25033,3.5,101273,14.1,723,...,720316,42832,5.9,23318,3.2,5733,0.8,866,0.1,12915
3,Arizona,2013,6479703,5131739,79.2,270027,4.2,286953,4.4,3519,...,6479703,1935948,29.9,1749835,27.0,35765,0.6,10733,0.2,139615
4,Arkansas,2013,2933369,2295446,78.3,454903,15.5,17945,0.6,7472,...,2933369,192264,6.6,149054,5.1,5521,0.2,886,0.0,36803
5,California,2013,37659181,23467167,62.3,2255372,6.0,286397,0.8,23070,...,37659181,14270345,37.9,11917361,31.6,197899,0.5,89188,0.2,2065897

In [30]:
# 2014
acs_14_df = pd.read_csv(acs_14_path, usecols=column_imports)
acs_14_df = acs_14_df.drop([0],axis=0)
acs_14_df = acs_14_df.rename(columns={'GEO.display-label':'State'})
acs_14_df.insert(1, 'Year', '2014')
acs_14_df.columns = acs_10_df.columns
acs_14_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2014,4817678,3327891,69.1,1269808,26.4,25181,0.5,9651,...,4817678,191838,4.0,128902,2.7,14814,0.3,4667,0.1,43455
2,Alaska,2014,728300,484195,66.5,25148,3.5,102743,14.1,712,...,728300,45247,6.2,25922,3.6,6312,0.9,855,0.1,12158
3,Arizona,2014,6561516,5174082,78.9,274380,4.2,290780,4.4,3399,...,6561516,1977026,30.1,1784013,27.2,37301,0.6,12778,0.2,142934
4,Arkansas,2014,2947036,2306073,78.3,458136,15.5,18337,0.6,7367,...,2947036,198109,6.7,151482,5.1,5121,0.2,1230,0.0,40276
5,California,2014,38066920,23650913,62.1,2262323,5.9,287360,0.8,22525,...,38066920,14534449,38.2,12108744,31.8,207878,0.5,92022,0.2,2125805

In [31]:
# 2015
acs_15_df = pd.read_csv(acs_15_path, usecols=column_imports)
acs_15_df = acs_15_df.drop([0],axis=0)
acs_15_df = acs_15_df.rename(columns={'GEO.display-label':'State'})
acs_15_df.insert(1, 'Year', '2015')
acs_15_df.columns = acs_10_df.columns
acs_15_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2015,4830620,3325464,68.8,1276544,26.4,23850,0.5,8870,...,4830620,193492,4.0,128381,2.7,14524,0.3,5155,0.1,45432
2,Alaska,2015,733375,484250,66.0,25022,3.4,101313,13.8,585,...,733375,47808,6.5,25774,3.5,6772,0.9,899,0.1,14363
3,Arizona,2015,6641928,5210335,78.4,281576,4.2,294721,4.4,2817,...,6641928,2014711,30.3,1813659,27.3,38540,0.6,12888,0.2,149624
4,Arkansas,2015,2958208,2307849,78.0,459748,15.5,18409,0.6,7274,...,2958208,203226,6.9,152982,5.2,5594,0.2,1507,0.1,43143
5,California,2015,38421464,23747013,61.8,2265387,5.9,287028,0.7,21962,...,38421464,14750686,38.4,12274907,31.9,209771,0.5,91274,0.2,2174734

In [32]:
# 2016
acs_16_df = pd.read_csv(acs_16_path, usecols=column_imports)
acs_16_df = acs_16_df.drop([0],axis=0)
acs_16_df = acs_16_df.rename(columns={'GEO.display-label':'State'})
acs_16_df.insert(1, 'Year', '2016')
acs_16_df.columns = acs_10_df.columns
acs_16_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2016,4841164,3325037,68.7,1282053,26.5,23919,0.5,8651,...,4841164,193503,4.0,124935,2.6,16391,0.3,5423,0.1,46754
2,Alaska,2016,736855,483518,65.6,24443,3.3,103574,14.1,745,...,736855,49031,6.7,26187,3.6,7061,1.0,822,0.1,14961
3,Arizona,2016,6728577,5235158,77.8,287110,4.3,296732,4.4,3049,...,6728577,2054849,30.5,1845058,27.4,41598,0.6,13545,0.2,154648
4,Arkansas,2016,2968472,2307136,77.7,460638,15.5,18697,0.6,7698,...,2968472,207049,7.0,154215,5.2,5973,0.2,1798,0.1,45063
5,California,2016,38654206,23680584,61.3,2261835,5.9,285512,0.7,19707,...,38654206,14903982,38.6,12400437,32.1,210940,0.5,93974,0.2,2198631

In [33]:
#2017
acs_17_df = pd.read_csv(acs_17_path, usecols=column_imports_2017)
acs_17_df = acs_17_df.drop([0],axis=0)
acs_17_df = acs_17_df.rename(columns={'GEO.display-label':'State'})
acs_17_df.insert(1, 'Year', '2017')
acs_17_df.columns = acs_10_df.columns
acs_17_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
1,Alabama,2017,4850771,3317702,68.4,1287167,26.5,25098,0.5,9673,...,4850771,198375,4.1,123596,2.5,17833,0.4,5324,0.1,51622
2,Alaska,2017,738565,481971,65.3,23702,3.2,104995,14.2,714,...,738565,50162,6.8,27254,3.7,7332,1.0,813,0.1,14763
3,Arizona,2017,6809946,5277661,77.5,292831,4.3,300182,4.4,3005,...,6809946,2103523,30.9,1884425,27.7,43693,0.6,14702,0.2,160703
4,Arkansas,2017,2977944,2302141,77.3,459969,15.4,19476,0.7,8000,...,2977944,213246,7.2,158362,5.3,6235,0.2,2074,0.1,46575
5,California,2017,38982847,23607242,60.6,2263222,5.8,292018,0.7,19015,...,38982847,15105860,38.8,12555044,32.2,215163,0.6,96754,0.2,2238899

In [41]:
# Combine all ACS together
acs_combine_df = acs_10_df.copy()
acs_combine_df = acs_combine_df.append(acs_11_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_12_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_13_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_14_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_15_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_16_df, sort=False)
acs_combine_df = acs_combine_df.append(acs_17_df, sort=False)
acs_combine_df = acs_combine_df.reset_index(drop=True)
acs_combine_df.head()

,State,Year,HC01_VC38,HC01_VC43,HC03_VC43,HC01_VC44,HC03_VC44,HC01_VC45,HC03_VC45,HC01_VC46,...,HC03_VC81,HC01_VC82,HC03_VC82,HC01_VC83,HC03_VC83,HC01_VC84,HC03_VC84,HC01_VC85,HC03_VC85,HC01_VC86
0,Alabama,2010,4712651,3293917,69.9,1232325,26.1,25814,0.5,9702,...,4712651,162371,3.4,111664,2.4,11011,0.2,4017,0.1,35679
1,Alaska,2010,691189,464150,67.2,22655,3.3,98120,14.2,788,...,691189,38393,5.6,22059,3.2,4380,0.6,780,0.1,11174
2,Arizona,2010,6246816,4883606,78.2,240655,3.9,278336,4.5,4042,...,6246816,1814674,29.0,1631468,26.1,30532,0.5,8944,0.1,143730
3,Arkansas,2010,2872684,2253875,78.5,445197,15.5,19192,0.7,8826,...,2872684,168427,5.9,128480,4.5,4740,0.2,754,0.0,34453
4,California,2010,36637290,22392713,61.1,2246311,6.1,283628,0.8,23855,...,36637290,13456157,36.7,11231410,30.7,172746,0.5,82788,0.2,1969213

In [42]:
# Save ACS Combine to csv
acs_combine_df.to_csv('Resources/ACS_Combine.csv')